body {
  background-image: url("/assets/images/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  place-items: center;
  font-family: "Inconsolata", serif;
  color: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
  font-weight: 400  800;
}

header {
  display: flex;
  width: 140px;
  height: 30px;
  transform: translateX(-20px);
}

#logo {
  width: 100%;
  object-fit: contain;
}

.container {
  /* width: 500px; */
  place-items: center;
}

.title {
  text-align: center;
}

.heading {
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.subheading {
  color: hsl(252, 6%, 83%);
  font-weight: 400;
  font-size: 1rem;
}

form {
  display: grid;
  align-items: center;
  width: 350px;
  grid-template-rows: 2fr repeat(4, 1fr);
  font-size: 12px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
}

input,.submit {
  width: 100%;
  border-radius: 6px;
  font-family: "Inconsolata", serif;
  box-sizing: border-box;
}

input {
  height: 2rem;
  border: 3px;
  padding-left: 8px;
  border-color: hsl(245, 15%, 58%);
  background-color: hsl(245, 19%, 35%);
  font-weight: 500;
}

.submit {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  border: 0;
  font-family: "Inconsolata", serif;
  font-weight: 900;
}

.attribution {
  font-size: 11px; text-align: center; 
  color: hsl(228, 45%, 44%);
}