html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("/assets/images/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: grid;
  grid-template-rows: 2rem 1fr 4rem;
  place-items: center;
  font-family: "Inconsolata", serif;
  color: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
  font-weight: 400  800;
}

header {
  display: flex;
  width: 8rem;
  height: 2rem;
  transform: translateX(-20px);
}

#logo {
  width: 100%;
  object-fit: contain;
}

.container {
  place-items: center;
}

.attribution {
  font-size: 11px; text-align: center; 
  color: hsl(228, 45%, 44%);
}